mixin button-primary(type, text, className, options)
  if type === 'link'
    a.button.button--primary(class=`${className ? className : ''}`, href=options.link)= text
  else if type === 'button'
    button.button.button--primary(class=`${className ? className : ''}`)= text

mixin button-secondary(type, text, className, options)
  if type === 'link'
    a.button.button--secondary(class=`${className ? className : ''}`, href=options.link)= text

mixin button-minor(type, text, className, options)
  if type === 'link'
    a.button.button--minor(class=`${className ? className : ''}`, href=options.link)= text
  else if type === 'submit'
    button.button.button--minor(class=`${className ? className : ''}`, type='submit')= text

mixin button-misc(type, text, className, options)
  if type === 'popup'
    button.button.button--misc.js-open-popup(class=`${className ? className : ''}`, data-popup=options.popup)= text